<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - Basic Routines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

<div class="header">
  {{!-- <div class="left"><a href="home"><i class="fa fa-arrow-left" style="font-size: 35px"></i></a></div> --}}
  <a href="home" class="logo">Warmup</a>
</div>
<br>
<h3>You are Level {{currentLevel}}.</h3>
<br><br>

<div class="progress" style="margin: auto;width: 80%;">
  <div class="progress-bar" role="progressbar" style="width: {{percentUntilNextLevel}}%" aria-valuenow="{{percentUntilNextLevel}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h3 style="margin:10px;font-size: 16px;">{{expSinceLastLevel}}/{{totalExpUntilNextLevel}} experience points</h3>
<br>
<h3>You have {{expUntilNextLevel}} points left to go.</h3>
<br>
        {{#if lvlUp}}
            <h3>Level up!! Congrats!!</h3>
        {{else}}
            <h3>You are {{percentUntilNextLevel}}% of the way there.</h3>
        {{/if}}
<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <!-- <a href="calendar"><i class="fa fa-calendar"></i></a> -->
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
{{!-- <script src="/level.js"></script> --}}
</body>
</html>