<!DOCTYPE html> 
<html>
<head>
  <title>Warmup - User Profile</title>
  <meta charset="utf-8">
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">
     <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body> 
  <div class="content">

{{!-- <div class="header">
  <center>
  <a href="profile" class="logo">Profile</a></center>
</div> --}}

<div class="data"id="headerBox">
 <div id = Headerbox>
  <div class="size1">
    <center><i>Welcome</i></center>
  </div>
</div>
</div>

{{#each users}}
<br>
  <p><img class= "profilePic" id="output" width="150"; height="150"; font-size=0/></p>
<div class=profileInfo>
<div class="data">
  {{!-- <p><img class= "profileHeader" id="output" width="150"; height="150" /></p> --}}
  <div class="sizeName">
    <center>{{name}}</center>
  </div>
<p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
</p>
<p class="size2">
  <button id="button"><label for="file" style="cursor: pointer; font-weight:normal;" >
    Upload a profile picture</label>
  </button>
  </p>
{{!-- <p><img id="output" width="200" /></p> --}}
  <div class="left">
<script>
var loadFile = function(event) {
  var image = document.getElementById('output');
  image.src = URL.createObjectURL(event.target.files[0]);
};
</script></div>

{{!-- GENDER/HEIGHT/WEIGHT INFO HERE --}}
<div class="size3">
  <p><ul>
  <hr style ="margin-left:-10px"; width= "98%";>
  Gender <span class="tab">{{gender}}</span><br>
  <hr style ="margin-left:-10px"; width= "98%";>
  Height <span class="tab">{{height}}</span><br>
  <hr style ="margin-left:-10px"; width= "98%";>
  Weight <span class="tab">{{weight}}</span><br>
  <hr style ="margin-left:-10px"; width= "98%";>
  </ul></p>
</div></div>
{{/each}}

<h3>Level {{level}}</h3>

<center>
 <a href="edit" class="size2"><button id="button">Edit Profile</button></a>
</center>
</div> 
{{!-- end of profileInfo class --}}

<div class="push"></div>
</div>

<div class="navbar">
  <a href="home"><i class="fa fa-fw fa-home"></i></a>
  <a href="search"><i class="fa fa-fw fa-search"></i></a>
  <a href="calendar"><i class="fa fa-calendar"></i></a>
  <a href="profile"><i class="fas fa-fw fa-user"></i></a>
</div>
</body>
</html>